.mootimeter-tool-select-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    .mootimeter-radio-card {
        display: flex;
        width: 18.75rem;
        height: 11.25rem;
        padding: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 539px) {
    .mootimeter-tool-select-wrapper {
        display: block;
    }
}

.mootimeter-add-tool-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.mootimeter-add-tool-header {
    margin-bottom: 1.25rem;

    h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        align-self: stretch;

        @media screen and (max-width: 680px) {
            font-size: 1.5rem;
            line-height: 2.125rem;
        }
    }

    p {
        align-self: stretch;
    }
}
