@import "../../../theme/boost/scss/bootstrap/functions";
@import "../../../theme/boost/scss/bootstrap/variables";
@import "../../../theme/boost/scss/bootstrap/mixins";

$grey-100: #e8e8ea;
$grey-200: #a4a5ac;
$grey-300: #60616d;
$grey-400: #303142;
$grey-500: #00091e;

$white-standard: #fff;

// wahrscheinlich ersetzen durch moodle vars:
$lernplatform-200: #e99f80;
$lernplatform-300: #dc6534;
$lernplatform-400: #d33f01;
$lernplatform-500: #a93201;

$feedback-error: #ff0000;
$notification-warning: #ff00001a;

$feedback-success-200: #00C431;
$feedback-success-100: #D9F6E0;

@mixin rounded-s {
  border-radius: 0.25rem;
}

@mixin rounded-m {
  border-radius: 0.5rem;
}

@mixin flex-center-all {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mootimetercontainer {
	*:focus {
    	outline: none;
	}

  &.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }



  .mootimetercolpages,
  .mootimetercoledit,
  .mootimetercolcontent {
    @media screen and (min-width: 539px) {
      min-height: 646px;
      max-height: 850px;
    }
  }
}

.tooltip {
  z-index: 100000!important;
}