.button-icon-with-text {
  @include flex-center-all;
  gap: 0.5rem;

  .icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    text-align: center;
  }

  p {
    text-wrap: nowrap;
    padding: 2px 0 2px 15px;
  }

  &:hover{
    background-color: #a4a5ac;
  }
}
