.mootimeter-btn-icon {
  @include rounded-s;
  @include flex-center-all;
  width: 3.875rem;
  height: 2.25rem;
  padding: 0.4375rem 1.25rem 0.4375rem 1.25rem;
  background-color: $grey-300;

  &.active {
    background-color: $lernplatform-400;
  }

  &:hover {
    background-color: $grey-200;
  }

  .icon {
    color: $white-standard;
    font-size: 1.375rem;
    width: unset;
    height: unset;
    margin: 0;
  }
}

.dark {
  .mootimeter-btn-icon {
    background-color: $white-standard;
    .icon {
      color: $grey-500;
    }

    &:hover {
      background: $grey-200;
      .icon {
        color: $white-standard;
      }
    }

    &.active {
      background-color: $lernplatform-400;
      .icon {
        color: $white-standard;
      }
    }
  }
}

.contrast {
	.mootimeter-btn-icon {
    background-color: $grey-300;
		border: 1px solid $white-standard;
    .icon {
      color: $white-standard;
    }

    &:hover {
      background: $grey-200;
      .icon {
        color: $grey-500;
      }
    }

    &.active {
      background-color: $grey-500;
			border: 1px solid $white-standard;
			.icon {
				color: $white-standard;
			}
    }
  }
}
