.mootimeter-btn-icon-only-rounded {
  @include flex-center-all;
  padding: 0.625rem;
  border-radius: 3.125rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;

  .icon {
    margin: 0;
    width: unset;
    height: unset;
    font-size: 1.25rem;
  }
}

.mootimeter-btn-icon-only-rounded {
  &.active {
    background-color: $lernplatform-400;
    color: $white-standard;
  }

  &.disabled {
    color: $grey-200;
    pointer-events: none;
  }

  &:not(.disabled):hover {
    background-color: $grey-200;
    color: $grey-500;
  }
}

.dark {
  .mootimeter-btn-icon-only-rounded {
    background-color: $grey-400;
    color: $white-standard;

    &.active {
      background-color: $lernplatform-400;
    }

    &.disabled {
      background-color: $grey-200;
    }
  }
}

.contrast {
	.mootimeter-btn-icon-only-rounded {
    background-color: $grey-300;
		border: 1px solid $white-standard;
    .icon {
      color: $white-standard;
    }

    &:hover {
      background: $grey-200;
      .icon {
        color: $grey-500;
      }
    }

    &.active {
      background-color: $grey-500;
			border: 1px solid $white-standard;
			.icon {
				color: $white-standard;
			}
    }
  }
}
