.mootimeter-btn-icon-only-transparent {
  @include flex-center-all;
  padding: 0.625rem;
  border-radius: 3.125rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;

  .icon {
    margin: 0;
    width: unset;
    height: unset;
    font-size: 1.25rem;
  }
}

.mootimeter-btn-icon-only-transparent {
  background-color: transparent;
  color: $white-standard;
}

.dark {
  .mootimeter-btn-icon-only-transparent {
    color: $grey-500;
  }
}
