.mootimetercontainer {
  .mootimetercoledit {
    flex: 20rem 2 0;
    background-color: $grey-400;
    max-width: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey-200;
      border-radius: 20px;
      border: 3px solid $grey-400;
    }
    &::-webkit-scrollbar-track {
      background: $grey-400;
    }
    &:empty {
      display: none;
    }

    .mootimeter-render-loading {
      text-align: center;
      color: $grey-300;
    }
  }

  &.isNewPage {
    .mootimetercoledit {
      background-color: $grey-100;
      padding: 9.0625rem 0;
      display: flex;
      justify-content: center;

      .mootimetersettings {
        max-width: 55rem;
        display: flex;
        justify-content: center;
        text-align: center;

        form {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
        }

        .mootimetersettingsdiv {
          display: flex;
          justify-content: center;
          gap: 1.25rem;
        }
      }
    }
  }

  &.isNotNewPage {
    .mootimetersettings {
      padding: 1.5rem;
      color: $white-standard;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

      .mootimetersettings-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .mootimeter-visualization-options-wrapper {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
      }
    }
  }
}

.dark {
  .mootimetercoledit {
    background-color: $grey-100;
    color: $grey-500;

    .mootimeter-colcontent-preview-notification p {
      color: $white-standard;
    }

    h4,
    h5,
    p,
    label,
    input {
      color: $grey-500;
    }

    .mootimeter-render-loading {
      text-align: center;
      color: #fff;
    }

    .mootimeter-page-dropdown {
      color: $grey-400;
    }
  }
}

.mootimeter-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    float: left;
  }

  .icon {
    float: right;
    font-size: 1.25rem;
    width: 20px;
    height: 20px;
    margin-right: 0;
  }

  .mootimeter-page-dropbtn {
    padding: 16px;
  }

  .mootimeter-page-dropdown {
    position: relative;
    float: right;
    cursor: pointer;

    &:hover {
      color: $grey-200;
    }
  }

  .mootimeter-page-dropdown-content {
    position: absolute;
    right: 0;
    top: 2.6rem;
    display: none;
    background-color: $grey-100;
    width: 180px;
    z-index: 1;
    border-radius: 7px;
  }

  .mootimeter-page-dropdown-content div {
    color: $grey-500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 7px;
  }

  .mootimeter-page-dropdown-content div:hover {
    background-color: $grey-200;
  }

  .mootimeter-page-dropdown:hover .mootimeter-page-dropdown-content {
    display: block;
  }
}

.dark {
  .mootimeter-page-dropdown-content div {
    background-color: $grey-500;
    color: $white-standard;
  }
}