.mootimetercontainer {
  @font-face {
    font-display: swap;
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 400;
    src: url("/mod/mootimeter/fonts/atkinson-hyperlegible-v11-latin-regular.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    src: url("/mod/mootimeter/fonts/lexend-v18-latin-regular.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lexend", sans-serif;
    margin: 0;
    font-weight: 500;
  }

  h3 {
	font-size: 2.125rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.75rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.125rem;
    letter-spacing: 0rem;
  }

  h5 {
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.875rem;
  }

  p {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0em;
    margin-bottom: 0;

    &.text-bold {
      font-weight: 700;
    }
  }

  small,
  label,
  input {
    font-family: "Atkinson Hyperlegible", sans-serif;
  }

  .mootimeter_rotate_110 {
    transform: rotate(110deg);
  }
}
