.mootimeter-highlighter {
    padding: 0.25rem 0.5rem;
    @include rounded-s;

    &.mootimeter-success {
        border: 2px solid $feedback-success-200;
        background-color: $feedback-success-100;
    }

    &.mootimeter-danger {
        border: 1px solid red;
        background-color: lightcoral;
    }
}
