.mootimeter-highlighter {
    padding: 10px;

    &.mootimeter-success {
        border: 2px solid green;
        background-color: lightgreen;
    }

    &.mootimeter-danger {
        border: 2px solid red;
        background-color: lightcoral;
    }
}
