.mootimetercontainer {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white-standard;
    max-width: 36.9375rem;
    height: auto;

    display: flex;
    padding: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    border-radius: 0.625rem;
    border: 0.0938rem solid $grey-100;
    background: $white-standard;

    .mootimeter-modal-btn-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.25rem;
      align-self: stretch;
    }
  }

  .modal-backdrop {
    opacity: 0.5;
  }
}
