.mootimetercontainer {
  .mootimetercolpages {
    position: relative;
    background-color: $grey-500;
    flex: 7.5rem 0 0;
    max-width: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    @media screen and (max-width: 680px) {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0;

      &:after {
        content: '';
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
        background: linear-gradient(270deg, #00091E -8.89%, rgba(0, 9, 30, 0.00) 88.89%);
        border-top-right-radius: .5rem;
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey-300;
      border-radius: 20px;
      border: 3px solid $grey-500;
    }
    &::-webkit-scrollbar-track {
      background: $grey-500;
    }

    @media screen and (max-width: 680px) {
      #mootimeter-pages-list {
          overflow-y: auto;
          padding-right: 3.4375rem;

          &::-webkit-scrollbar {
            width: 12px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $grey-300;
            border-radius: 20px;
            border: 3px solid $grey-500;
          }
          &::-webkit-scrollbar-track {
            background: $grey-500;
          }
        }
    }

    #mootimeter-addpage-button {
      padding: 0 1.0625rem 2.5rem 1.0625rem;
    }

    ul {
      padding: 2.5rem 1.0625rem 0 1.0625rem;

      li {
        @include rounded-s;
        background-color: $grey-400;
        color: $white-standard;
        margin-bottom: 1rem;
        border: 0.0625rem $grey-300 solid;
        min-height: 3.75rem;
        justify-content: center;
        position: relative;
        min-width: 95px;

        &:hover {
          border-color: $lernplatform-200;
        }

        &.active {
          border-color: $lernplatform-300;
        }

        &.pageunvisible {
          background: linear-gradient(
            to top left,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) calc(50% - 0.8px),
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) calc(50% + 0.8px),
            rgba(255, 255, 255, 0) 100%
          );
        }

        .mootimeter_page_move {
          position: absolute;
          right: 0.4375rem;
          bottom: 0.25rem;
          font-family: Atkinson Hyperlegible;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1rem;
          color: $grey-300;
        }

        .mootimeter_pages_count {
          position: absolute;
          left: 0.4375rem;
          top: 0.25rem;
          font-family: Atkinson Hyperlegible;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1rem;
          color: $grey-300;
        }
      }

      .mootimeter_addpage {
        background-color: $lernplatform-400;
        border: 0.0625rem $lernplatform-400 solid;
        width: 100%;
        z-index: 1;
      }
    }

    @media screen and (max-width: 680px) {
      flex-grow: 1;

      ul {
        display: flex;
        gap: 1.25rem;
        padding: 0.625rem;
        margin-bottom: 0;

        li {
          width: 5.375rem;
          margin-bottom: 0;
          flex-shrink: 0;
        }
      }
    }

    .mootimeter-render-loading {
      text-align: center;
      color: #fff;
    }
  }
}

.dark {
  .mootimetercolpages {
    background-color: $white-standard;

    ul {
      li {
        background-color: $grey-100;
        border-color: $grey-200;

        &.pageunvisible {
          background: linear-gradient(
            to top left,
            rgba(232, 232, 234, 1) 0%,
            rgba(232, 232, 234, 1) calc(50% - 0.8px),
            rgba(96, 97, 109, 1) 50%,
            rgba(232, 232, 234, 1) calc(50% + 0.8px),
            rgba(232, 232, 234, 1) 100%
          );

          color: $grey-100;
        }
      }
    }

    .mootimeter-render-loading {
      text-align: center;
      color: #60616d;
    }
  }
}

.contrast {
  .mootimetercolpages {
    ul {
      li {
        background-color: $grey-400;
        border-color: $white-standard;
        color: $white-standard;
      }
      .mootimeter_addpage {
        background-color: $white-standard;
        border-color: $white-standard;
        color: $grey-500;
      }
    }
  }
}
