.mootimetercolpages {
  background-color: #00091E;
}
.mootimetercolpages ul {
  padding: 2.5rem 1.0625rem;
}
.mootimetercolpages ul li {
  border-radius: 0.25rem;
  background-color: #303142;
  color: #fff;
  margin-bottom: 1rem;
  border: 1px #DC6534 solid;
  min-height: 3.75rem;
  justify-content: center;
}
.mootimetercolpages ul .mootimeter_addpage {
  background-color: #D33F01;
  border: 1px #D33F01 solid;
}

.mootimetercoledit {
  background-color: #303142;
}

.mootimetercolcontent {
  background-color: #E8E8EA;
}

.mootimetercolpages {
  flex: 120px 1 0;
}

.mootimetercoledit {
  flex: 320px 2 0;
}

.mootimetercolcontent {
  flex: 400px 10 0;
}