.mootimetercontainer {
    height: 75vh;
}

.mootimeter_textcenter {
    text-align: center;
}

.mootimeter_margin_top_5 {
    margin-top: 5px;
}

.mootimeter_margin_top_50 {
    margin-top: 50px;
}

.mootimeterfullwidth {
    width: 100%;
}

.padding-left-5 {
    padding-left: 5px;
}

.mootimetertoolsettingsbody {
    text-align: left;
}

.mootimetercard {
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    height: 0;
    width: calc(50% - 2 * 5px);
    padding-bottom: calc(50% - 2 * 5px);
}

.mootimetercard:hover,
.mootimetercardleftcol:hover {
    background-color: lightgray;
}

.mootimetercardleftcol .active {
    border: green;
}

.mootimetercardleftcol {
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    height: 0;
    width: 100%;
    text-align: center;
}

.mootimetercardleftcol>p {
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    .mootimetercoledit {
        margin-right: calc(-1 * var(--card-deck-margin));
        margin-left: calc(-1 * var(--card-deck-margin));
    }
}

@media (min-width: 576px) {
    .mootimetercoledit {
        margin-right: calc(-1 * var(--card-deck-margin));
        margin-left: calc(-1 * var(--card-deck-margin));
    }
}

@media (min-width: 480px) {
    .mootimetercoledit {
        margin-right: calc(- var(--card-deck-margin));
        margin-left: calc(- var(--card-deck-margin));
    }
}

.mootimetercoledit {
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.mootimetertoolsettingsdiv {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.mootimetertoolsettingsdiv:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}