{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
Example context (json):
{
"{type}": true, => type = select || checkbox
"id": 'labelid-1',
"label": "This is the settings label",
"helptitle": "This is the settings help title",
"help": "This is the settings help string",
"options": [
'value': "abc123",
'name': "optionname",
'selected': true|false,
]
}
}}
<div class="form-select">
    <div class="d-flex">
        <label for="{{id}}" class="d-inline">{{{label}}}</label>
        {{#help}}
            {{> core/help_icon }}
        {{/help}}
    </div>
    <input type="text" class="form-control mootimeterfullwidth" name="{{name}}" id="{{id}}" value="{{value}}">
</div>
