<div class="mootimeter-checkbox {{wrapper_cb_with_label_additional_class}}" {{#wrapper_cb_with_label_id}} id="{{wrapper_cb_with_label_id}}" {{/wrapper_cb_with_label_id}}>
  <label>
    <input type="checkbox"
      id="{{cb_with_label_id}}_{{uniqid}}"
      class="mootimeter-checkbox-switch {{cb_with_label_additional_class}}"
      {{cb_with_label_checked}}
      {{cb_with_label_disabled}}
      {{cb_with_label_additional_attribut}}
      {{cb_with_label_dataset}}
      {{#cb_with_label_value}} value="{{cb_with_label_value}}" {{/cb_with_label_value}}
      {{#cb_with_label_name}}name="{{cb_with_label_name}}"{{/cb_with_label_name}}

      {{#cb_with_label_ajaxmethod}}data-ajaxmethode="{{cb_with_label_ajaxmethod}}"{{/cb_with_label_ajaxmethod}}
      {{#pageid}}data-pageid="{{pageid}}"{{/pageid}}
      {{#cb_with_label_name}}data-name="{{cb_with_label_name}}"{{/cb_with_label_name}}
    />
    <span class="checkbox-icon-wrapper">
      <i class="icon fa fa-check fa-light checkbox-icon" aria-hidden="true"></i>
    </span>
    <span
      id="text_{{cb_with_label_id}}_{{uniqid}}"
    >
      {{cb_with_label_text}}
    </span>
  </label>
</div>
{{#cb_with_label_ajaxmethod}}
{{#js}}
require(['mod_mootimeter/handler_input_checkbox_switch'], (module) => module.init("{{cb_with_label_id}}_{{uniqid}}"));
{{/js}}
{{/cb_with_label_ajaxmethod}}