<button
    {{#mtm-button-id}} id="{{mtm-button-id}}" {{/mtm-button-id}}
    class="mootimeter-btn mootimeter-btn-full {{{mtm-button-additional_class}}}"
    id="{{mtm-button-id}}"
    {{{mtm-button-dataset}}}
>
{{mtm-button-text}}
</button>
