<div class="input-with-inner-icon">
{{> mod_mootimeter/elements/snippet_input}}
<button class="mootimeter-btn-icon-only-transparent" aria-hidden="true">
<i class="icon fa fa-close fa-light" aria-hidden="true"></i></button>
</div>
