<button
	{{#button_icon_only_transparent_id}} id="{{button_icon_only_transparent_id}}_{{uniqid}}" {{/button_icon_only_transparent_id}}
	class="mootimeter-btn-icon-only-transparent {{button_icon_only_transparent_additionalclass}}"
	{{{button_icon_only_transparent_dataset}}}
	{{#button_icon_only_transparent_ajaxmethod}}data-ajaxmethode="{{button_icon_only_transparent_ajaxmethod}}"{{/button_icon_only_transparent_ajaxmethod}}
>
	<i class="icon fa {{button_icon_only_transparent_icon}} fa-light" aria-hidden="true"></i>
</button>
