<li
    class="mootimeter_pages_li d-flex clickable {{ active }}"
    data-pageid="{{ pageid }}"
    data-cmid="{{ cmid }}"
    id="{{id}}"
    {{#tooltip}} data-toggle="tooltip" data-placement="right" title="{{tooltip}}"{{/tooltip}}
    >
    <span class="mootimeter_pages_count">{{pagenumber}}</span>
    <img src="{{{ toolicon }}}" width="{{width}}" class="m-1" />
</li>

{{#js}}
    require(['mod_mootimeter/reload_page'], (module) => module.init(["{{id}}"]));
{{/js}}