<input
	id="{{mtm-input-id}}_{{uniqid}}"
	type="text"
	class="mootimeter-input mootimeterfullwidth {{additional_class}}"
	{{#mtm-input-name}}name="{{mtm-input-name}}" {{/mtm-input-name}}
	{{#mtm-input-value}}value="{{mtm-input-value}}"{{/mtm-input-value}}
	{{#mtm-input-placeholder}}placeholder="{{mtm-input-placeholder}}"{{/mtm-input-placeholder}}
	{{{dataset}}}
	{{#ajaxmethode}}data-ajaxmethode="{{ajaxmethode}}"{{/ajaxmethode}}
	{{#pageid}}data-pageid="{{pageid}}"{{/pageid}}
	{{#mtm-input-name}}data-name="{{mtm-input-name}}"{{/mtm-input-name}}
	{{#autofocus}}autofocus{{/autofocus}}
/>

{{#ajaxmethode}}
{{#js}}
require(['mod_mootimeter/handler_input'], (module) => module.init("{{mtm-input-id}}_{{uniqid}}"));
{{/js}}
{{/ajaxmethode}}