<div class="input-with-checkbox-icon">
{{> mod_mootimeter/elements/snippet_checkbox_without_label}}
{{> mod_mootimeter/elements/snippet_input}}
<i class="icon fa fa-close fa-light" aria-hidden="true"></i>
</div>
