<div class="mootimeter-radio-btn">
  <label>
    <input type="radio" />
    <span class="radio-btn-icon-wrapper">
      <i class="icon fa fa-check fa-light radio-btn-icon" aria-hidden="true"></i>
    </span>
    Antwortoption
  </label>
</div>
