<ul id="mootimeter-pages-list" class="">
    {{#pageslist}}
    {{> mod_mootimeter/elements/snippet_page_list_element}}
    {{/pageslist}}
</ul>

{{#isediting}}
    <ul id="mootimeter-addpage-button" class="">
        <li
            id="mootimeter_addpage_{{uniqid}}"
            class="d-flex mootimeter_addpage clickable"
            data-action="addpage"
            data-cmid="{{cmid}}"
            data-pageid=0
            data-toggle="tooltip" data-placement="right" title="{{#str}} addpage, mod_mootimeter {{/str}}"
        >
            <i class="fa fa-plus p-1 mx-1 my-auto"></i>
        </li>
        {{#js}}
            require(['mod_mootimeter/reload_page'], (module) => module.init(["mootimeter_addpage_{{uniqid}}"]));
        {{/js}}
    </ul>
{{/isediting}}