<label {{#id}}id="label_{{id}}"{{/id}} class="mootimeter-radio-card {{additional_class}}" {{{dataset}}}>
	<input style="display:none;" {{#id}}id="{{id}}"{{/id}} type="radio" class="radio" name="tool" value="{{ tool }}" {{selected}}>
	<img src="{{{pix}}}" width="40px" class="m-1" />
	<span class="card-details">
		<span class="card-type">{{ name }}</span>
		<span class="card-desc">{{ description }}</span>
	</span>
	<span class="active-border"></span>
</label>
