<div class="mootimeter-checkbox">
  <label>
    <input type="checkbox" />
    <span class="checkbox-icon-wrapper">
      <i class="icon fa fa-check fa-light checkbox-icon" aria-hidden="true"></i>
    </span>
    Antwortoption
  </label>
</div>
