{{!

  notification_id: any id
  notification_type: warning | danger | info
  notification_icon: fa-xxx
  notification_text: Any text to be displayed.

}}

<div {{#notification_id}} id="{{notification_id}}" {{/notification_id}} class="mootimeter-colcontent-preview-notification notification-{{notification_type}}">
  <span class="{{notification_icon_rotation}}"><i class="icon fa {{notification_icon}} fa-light" aria-hidden="true"></i></span>
  <p>
    {{notification_text}}
  </p>
</div>