<li class="mootimeter_pages_li d-flex clickable {{ active }}" data-pageid="{{ pageid }}" data-cmid="{{ cmid }}">
    <span class="mootimeter_pages_count">{{pagenumber}}</span>
    <img src="{{{pix}}}" width="{{width}}" class="m-1" />
</li>