<div
  class="mootimeter-radio-btn {{wrapper_rb_with_label_additional_class}}"
  {{#wrapper_rb_with_label_id}} id="{{wrapper_rb_with_label_id}}" {{/wrapper_rb_with_label_id}}
>
  <label>
    <input type="radio"
      id="{{rb_with_label_id}}_{{uniqid}}"
      class="mootimeter-radio-btn {{rb_with_label_additional_class}}"
      {{rb_with_label_checked}}
      {{rb_with_label_additional_attribut}}
      {{rb_with_label_dataset}}
      {{#rb_with_label_value}} value="{{rb_with_label_value}}" {{/rb_with_label_value}}
      {{#rb_with_label_name}}name="{{rb_with_label_name}}"{{/rb_with_label_name}}

      {{#rb_with_label_ajaxmethod}}data-ajaxmethode="{{rb_with_label_ajaxmethod}}"{{/rb_with_label_ajaxmethod}}
      {{#pageid}}data-pageid="{{pageid}}"{{/pageid}}
      {{#rb_with_label_name}}data-name="{{rb_with_label_name}}"{{/rb_with_label_name}}


    />
    <span class="radio-btn-icon-wrapper">
      <i class="icon fa fa-check fa-light radio-btn-icon" aria-hidden="true"></i>
    </span>
        <span id="text_{{rb_with_label_id}}_{{uniqid}}">
          {{rb_with_label_text}}
        </span>
  </label>
</div>
{{#rb_with_label_ajaxmethod}}
{{#js}}
require(['mod_mootimeter/handler_input_checkbox_switch'], (module) => module.init("{{rb_with_label_id}}_{{uniqid}}"));
{{/js}}
{{/rb_with_label_ajaxmethod}}