<div class="mootimeter-number-input">

  <label>
		<span class="mootimeter-number-input-wrapper">
		<input type="number" />
		<button class="mootimeter-btn-icon-only-transparent mootimeter-number-input-btn-up" aria-hidden="true">
<i class="icon fa fa-sort-up fa-light" aria-hidden="true"></i></button>
<button class="mootimeter-btn-icon-only-transparent mootimeter-number-input-btn-down" aria-hidden="true">
<i class="icon fa fa-sort-down fa-light" aria-hidden="true"></i></button>
		</span>
    Max. Eingabe(n) pro Teilnehmer
  </label>
</div>
