{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_mootimeter/essentials/snippet_button_full

    Template for rendering a button.

    Example context (json):
    {
        "mtm-button-id": "mootimeter-button-id-1",
        "mtm-button-additional_class": "mootimeter-additionalclass1 mootimeter-additionalclass2",
        "mtm-button-dataset": "data-pageid=1 data-cmid=124 ...",
        "mtm-button-text": "This is the button text",
    }
}}

<button
    {{#mtm-button-id}} id="{{mtm-button-id}}_{{uniqid}}" {{/mtm-button-id}}
    class="mootimeter-btn mootimeter-btn-full {{{mtm-button-additional_class}}}"
    {{{mtm-button-dataset}}}
>
{{mtm-button-text}}
</button>
