{{#pill}}
    <div class="mootimeter-pill {{additional_class}}">
        <span>
            {{pill}}
            {{#deletebutton}}{{>mod_mootimeter/elements/snippet_delete_cross}}{{/deletebutton}}
        </span>
    </div>
{{/pill}}
