<div class="mootimeter-header-wrapper">
    <h4>{{toolname}}</h4>
    <div class="row">
        {{#page_visibility-eye}}
        <div
            class="mootimeter-page-dropdown col-xs-6"
            id="{{id}}_{{uniqid}}"
            {{{dataset}}}
            {{#tooltip}} data-toggle="tooltip" data-placement="top" title="{{tooltip}}"{{/tooltip}}
        >
            <i id="{{iconid}}" class="icon fa {{icon}} fa-light mootimeter-page-dropbtn" aria-hidden="true"></i>
        </div>
        {{#js}}
        require(['mod_mootimeter/toggle_state'], (module) => module.init(["{{id}}_{{uniqid}}", "{{iconid}}_{{uniqid}}",]));
        {{/js}}
        {{/page_visibility-eye}}
        <div class="mootimeter-page-dropdown col-xs-6">
            <i class="icon fa fa-gear fa-light mootimeter-page-dropbtn" aria-hidden="true"></i>
            <div class="mootimeter-page-dropdown-content">
                <div
                    id="btn-delete_page_{{uniqid}}"
                    class="mootimeter-delete-page-btn"
                    data-pageid="{{pageid}}"
                >
                    {{#str}} delete_page, mod_mootimeter {{/str}}
                </div>
            </div>
            {{#js}}
            require(['mod_mootimeter/delete_page'], (module) => module.init(["btn-delete_page_{{uniqid}}"]));
            {{/js}}
        </div>
    </div>
</div>