{{

    The parentnode must have the style attribute position:relative.

            // Show a loading icon.
            Templates.renderForPromise('mod_mootimeter/elements/snippet_overlay', {})
            .then(({html, js}) => {
            Templates.appendNodeContents('#mootimeter-pages-col', html, js);

            // Templates.replaceNodeContents('#mootimeter-pages-list', html, js);
            return true;
            })
            .catch((error) => displayException(error));

}}

<div class="mootimeter-overlay" id="mootimeter-overlay">
    <div class="mootimeter-overlay-content">{{> core/loading }}</div>
</div>