<div class="mootimeter-content-menu" id="mootimeter-pagecontentmenu">
    {{error}}

    {{#icon-eye}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{#js}}
    require(['mod_mootimeter/toggle_state'], (module) => module.init(["{{id}}_{{uniqid}}", "{{iconid}}_{{uniqid}}",]));
    {{/js}}
    {{/icon-eye}}

    {{#icon-check}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{#js}}
    require(['mod_mootimeter/toggle_state'], (module) => module.init(["{{id}}_{{uniqid}}", "{{iconid}}_{{uniqid}}",]));
    {{/js}}
    {{/icon-check}}

    {{#icon-restart}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{#js}}
    require(['mod_mootimeter/handle_button_clicked'], (module) => module.init(["{{id}}_{{uniqid}}"]));
    {{/js}}
    {{/icon-restart}}

    {{#icon-answer-overview}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{#js}}
    require(['mod_mootimeter/reload_page'], (module) => module.init(["{{id}}_{{uniqid}}"]));
    {{/js}}
    {{/icon-answer-overview}}

    {{#icon-eye}}
    <div class="vertical-divider"></div>
    {{/icon-eye}}

    {{#icon-showresults}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{#js}}
    require(['mod_mootimeter/reload_page'], (module) => module.init(["{{id}}_{{uniqid}}"]));
    {{/js}}
    {{/icon-showresults}}

    {{#icon-fullscreen}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{#js}}
    require(['mod_mootimeter/toggle_fullscreen'], (module) => module.init(["{{id}}_{{uniqid}}", "{{iconid}}_{{uniqid}}",]));
    {{/js}}
    {{/icon-fullscreen}}

</div>

{{#js}}
require(['mod_mootimeter/redirect_by_click'], (module) => module.init());
{{/js}}