<div class="button-icon-with-text" {{#button_icon_only_transparent_id}} id="wrapper_{{button_icon_only_transparent_id}}_{{uniqid}}" {{/button_icon_only_transparent_id}}>
	{{> mod_mootimeter/elements/snippet_button_icon_only_transparent}}
	<p>{{button-text}}</p>
</div>
