<label for="mootimeter-checkbox" class="mootimeter-checkbox-switch-label">
    <input
        type="checkbox"
        id="{{id}}"
        class="mootimeter-checkbox-switch {{additional_class}}"
        {{checked}}
        {{dataset}}
        {{#name}}name="{{name}}"{{/name}}

		{{#ajaxmethod}}data-ajaxmethod="{{ajaxmethod}}"{{/ajaxmethod}}
		{{#pageid}}data-pageid="{{pageid}}"{{/pageid}}
		{{#name}}data-name="{{name}}"{{/name}}
    >
    {{title}}
</label>
{{#ajaxmethod}}
{{#js}}
require(['mod_mootimeter/handler_input_checkbox_switch'], (module) => module.init("{{id}}"));
{{/js}}
{{/ajaxmethod}}