<button
	id="{{id}}_{{uniqid}}"
	class="mootimeter-btn-icon-only-rounded {{{additional_class}}}"
	{{#tooltip}} data-toggle="tooltip" data-placement="top" title="{{tooltip}}"{{/tooltip}}
	{{#href}} data-href="{{{href}}}" {{/href}}
	{{{dataset}}}
	{{#iconid}}data-iconid = "{{iconid}}_{{uniqid}}"{{/iconid}}
>
	<i {{#iconid}} id="{{iconid}}_{{uniqid}}" {{/iconid}} class="icon fa {{icon}} fa-light" aria-hidden="true"></i>
</button>