<div class="input-with-checkbox-icon" {{#mtm-ao-wrapper-id}}id="{{mtm-ao-wrapper-id}}"{{/mtm-ao-wrapper-id}}>
{{^ispoll}}
    {{> mod_mootimeter/elements/snippet_checkbox_without_label}}
{{/ispoll}}
{{> mod_mootimeter/elements/snippet_input}}
{{> mod_mootimeter/elements/snippet_button_icon_only_transparent}}
</div>
