<div class="mootimeter-content-menu">
    {{#icon-eye}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-eye}}

    {{#icon-check}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-check}}

    {{#icon-restart}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-restart}}

    {{#icon-answer-overview}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-answer-overview}}

    {{#icon-eye}}
    <div class="vertical-divider"></div>
    {{/icon-eye}}

    {{#icon-showresults}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-showresults}}


</div>

{{#js}}
require(['mod_mootimeter/redirect_by_click'], (module) => module.init());
{{/js}}