<div class="modal">
<h4>Möchten Sie die Ergebnisse des Mootimeters für diese Folie zurücksetzen?</h4>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
<div class="mootimeter-modal-btn-wrapper">
{{> mod_mootimeter/elements/snippet_button}}
{{> mod_mootimeter/elements/snippet_button}}
</div>
</div>
<div class="modal-backdrop"></div>
