<div class="mootimeter-colcontent-preview-notification notification-warning">
          <i class="icon fa fa-info fa-light" aria-hidden="true"></i>
          <p>
            Dies ist eine Vorschau. Ihre Antworten werden nicht gespeichert.
          </p>
        </div>
