<div>
    <input type="radio" id="control_{{aoid}}" class="mtmt_radio" name="select" value="{{aoid}}">
    <label class="ao_label mtmt_answeroption" for="control_{{aoid}}" data-aoid="{{aoid}}">
        {{#isediting}}
        <button class="btn-trash float-right">{{#pix}}i/trash{{/pix}}</button>
        {{/isediting}}

        {{#isediting}}
        <textarea id="ao_text_{{aoid}}" type="text" class="form-control mootimeterfullwidth mtmt-delayed-store" name="ao_text">{{ao_text}}</textarea>
        {{/isediting}}
        {{^isediting}}
        <p>{{ao_text}}</p>
        {{/isediting}}
        {{#isediting}}


        <div class="mtmt-state-switch">
            {{#isquiz}}
            <input type="radio" id="state_1_{{aoid}}" class="mtmt_radio_state mtmt-true" name="iscorrect" value="switch-{{aoid}}" {{#iscorrect}}selected{{/iscorrect}}/>
            <label class="ao_label_state" for="state_1_{{aoid}}">Antwort ist richtig</label>
            {{/isquiz}}
            {{#ispoll}}
            <input type="radio" id="state_0_{{aoid}}" class="mtmt_radio_state mtmt-neutral" name="switch-{{aoid}}" value="0" checked />
            <label class="ao_label_state" for="state_0_{{aoid}}">Abstimmung</label>
            {{/ispoll}}
        </div>

        {{/isediting}}
    </label>
</div>
