<script src="tools/quiz/js/chart.umd.min.js"></script>

<div class="mootimeter-colcontent-preview-header">
  {{> mod_mootimeter/elements/snippet_pill}}
  <h4>How much is the Fish?</h4>
</div>

{{> mod_mootimeter/elements/snippet_notification}}

<div class="mootimeter-colcontent-preview-options">
  {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
  {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
  {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
  {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
  {{> mod_mootimeter/elements/snippet_radio_button}}
  {{> mod_mootimeter/elements/snippet_input_with_inner_icon}}
</div>
<div class="mootimeter-colcontent-preview-send">
  {{> mod_mootimeter/elements/snippet_button_full}}
  <small>Du hast mehrere Antwortoptionen</small>
</div>


<input type="hidden" id="mootimeter_lastupdated" value="{{lastupdated}}">
{{#isediting}}
{{#js}}
require(['mootimetertool_quiz/store_answeroptions'], (module) => module.init());
require(['mootimetertool_quiz/new_answeroption'], (module) => module.init());
{{/js}}
{{/isediting}}
{{^isediting}}
{{#js}}
require(['mootimetertool_quiz/store_answer'], (module) => module.init());
{{/js}}
{{/isediting}}
<script>

  // redrawwordcloud()

  // const event = new Event("redrawwordcloud");
  // let mtmtcanvas = document.getElementById('wordcloudcanvas');
  // mtmtcanvas.addEventListener(
  //   "redrawwordcloud",
  //   (e) => {
  //     window.console.log("Redraw");
  //     redrawwordcloud();
  //   },
  //   false
  // );

  // function redrawwordcloud() {
  //   let mtmtcanvas = document.getElementById('wordcloudcanvas');
  //   let answers = JSON.parse(mtmtcanvas.dataset.answers);
  //   WordCloud(mtmtcanvas, { list: answers });
  // }
</script>