<script src="tools/quiz/js/chart.umd.min.js"></script>
<div class="mootimeter-colcontent-preview">

  <div class="mootimeter-colcontent-preview-header">

    {{#toolname}}
    {{> mod_mootimeter/elements/snippet_pill}}
    {{/toolname}}

    <h4 id="mtm_question">{{{question}}}</h4>

  </div>

  <div class="mootimeter-colcontent-preview-options">
    {{#answeroptions}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/answeroptions}}
  </div>

  <div class="mootimeter-colcontent-preview-send">
    {{#sendbutton}}
    {{> mod_mootimeter/elements/snippet_button_full}}
    {{/sendbutton}}
    {{#sendbutton_context}}
    <small>{{text}}</small>
    {{/sendbutton_context}}
  </div>

  {{^isediting}}
  {{#js}}
  require(['mootimetertool_quiz/store_answer'], (module) => module.init());
  {{/js}}
  {{/isediting}}