<h4>Abstimmung</h4>

{{> mod_mootimeter/elements/snippet_input}}

{{> mod_mootimeter/elements/snippet_divider}}

<p class="text-bold">Antworten</p>

{{> mod_mootimeter/elements/snippet_notification}}

<div class="input-with-checkbox-icon_wrapper">
    {{> mod_mootimeter/elements/snippet_input_with_icon}}
    {{> mod_mootimeter/elements/snippet_input_with_icon}}
    {{> mod_mootimeter/elements/snippet_input_with_icon}}
    {{> mod_mootimeter/elements/snippet_input_with_icon}}
    {{> mod_mootimeter/elements/snippet_input_with_checkbox-icon}}
    {{> mod_mootimeter/elements/snippet_number_input}}
</div>

{{> mod_mootimeter/elements/snippet_button_icon_with_text}}

{{> mod_mootimeter/elements/snippet_divider}}

<p class="text-bold">Visualisierung</p>

<div class="mootimeter-visualization-options-wrapper">
    {{> mod_mootimeter/elements/snippet_settings_visualization_option}}
    {{> mod_mootimeter/elements/snippet_settings_visualization_option}}
    {{> mod_mootimeter/elements/snippet_settings_visualization_option}}
    {{> mod_mootimeter/elements/snippet_settings_visualization_option}}
</div>

{{> mod_mootimeter/elements/snippet_divider}}

<p class="text-bold">Einstellungen</p>

{{> mod_mootimeter/elements/snippet_checkbox_switch}}
{{> mod_mootimeter/elements/snippet_checkbox_switch}}