{{#question}}
{{> mod_mootimeter/elements/snippet_input}}
{{/question}}

{{> mod_mootimeter/elements/snippet_divider}}

<p class="text-bold">{{#str}} answeroptions , mootimetertool_quiz {{/str}}</p>

<div class="input-with-checkbox-icon_wrapper" id="mtmt-quiz-ao-wrapper">
    {{#answeroptions}}
    {{> mod_mootimeter/elements/snippet_input_with_checkbox-icon}}
    {{/answeroptions}}
</div>

{{#addoption}}
    {{> mod_mootimeter/elements/snippet_button_icon_with_text}}
    {{#js}}
        require(['mootimetertool_quiz/add_new_answer_option'], (module) => module.init());
    {{/js}}
{{/addoption}}

{{> mod_mootimeter/elements/snippet_divider}}

<p class="text-bold">{{#str}} visualization , mootimetertool_quiz {{/str}}</p>

<div class="mootimeter-visualization-options-wrapper">
    {{#visualization}}
    {{> mod_mootimeter/elements/snippet_settings_visualization_option}}
    {{/visualization}}
</div>

{{> mod_mootimeter/elements/snippet_divider}}

<p class="text-bold">{{#str}} settings {{/str}}</p>

{{#multipleanswers}}
{{> mod_mootimeter/elements/snippet_checkbox_with_label}}
{{/multipleanswers}}

{{#maxanswers}}
{{> mod_mootimeter/elements/snippet_number_input}}
{{/maxanswers}}
