<div class="row justify-content-md-center mootimeter_margin_top_50">

  <div class="col-md-8">
    <div id="mootimeter_question_div">
      {{{question_text}}}
    </div>
  </div>

  <div class="col-md-8">
    <mtmt_question_section id="mtmt_question_section" data-pageid="{{pageid}}">
      <div  id="mtmt_questions">
        {{#answer_options}}
        {{> mootimetertool_quiz/answer_option}}
        {{/answer_options}}
      </div>

      {{#isediting}}
      <div>
        <div>
          <input type="button" id="new_ao" class="mtmt_radio" name="new_ao">
          <label class="ao_label" for="new_ao" style="padding-bottom: 0;" id="new_ao_label">
            <div class="mootimeterfullwidth" style="display: table;height: 50px; overflow: hidden;">
              <div class="mootimeterfullwidth" style="display: table-cell; vertical-align: middle;">
                <div class="mootimeterfullwidth mootimeter_textcenter">
                  <h1 style="margin: 0"><i class="fa fa-plus"></i></h1>
                </div>
              </div>
            </div>
          </label>
        </div>
      </div>
      {{/isediting}}

    </mtmt_question_section>
    {{! <button class="btn btn-primary mootimeterfullwidth">Absenden</button> }}
  </div>

</div>
<input type="hidden" id="mootimeter_lastupdated" value="{{lastupdated}}">
{{#isediting}}
{{#js}}
require(['mootimetertool_quiz/store_answeroptions'], (module) => module.init());
require(['mootimetertool_quiz/new_answeroption'], (module) => module.init());
{{/js}}
{{/isediting}}
{{^isediting}}
{{#js}}
require(['mootimetertool_quiz/store_answer'], (module) => module.init());
{{/js}}
{{/isediting}}
<script>

  // redrawwordcloud()

  // const event = new Event("redrawwordcloud");
  // let mtmtcanvas = document.getElementById('wordcloudcanvas');
  // mtmtcanvas.addEventListener(
  //   "redrawwordcloud",
  //   (e) => {
  //     window.console.log("Redraw");
  //     redrawwordcloud();
  //   },
  //   false
  // );

  // function redrawwordcloud() {
  //   let mtmtcanvas = document.getElementById('wordcloudcanvas');
  //   let answers = JSON.parse(mtmtcanvas.dataset.answers);
  //   WordCloud(mtmtcanvas, { list: answers });
  // }
</script>