{{#withwrapper}}
<div class="mootimetercontainer {{{containerclasses}}}">
  {{/withwrapper}}
  <div class="mootimeter-colcontent-preview mootimeter-width-s">

    {{{error}}}

    <div class="mootimeter-colcontent-preview-header" id="mtmt_tool-colct-header">

      {{#toolname}}
      {{> mod_mootimeter/elements/snippet_pill}}
      {{/toolname}}

      <h4 id="mtm_question_{{uniqid}}">{{{question}}}</h4>

    </div>

    <div class="mootimeter-colcontent-preview-options">
      {{#answeroptions}}
      {{#cb}}
      {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
      {{/cb}}
      {{#rb}}
      {{> mod_mootimeter/elements/snippet_radio_button}}
      {{/rb}}
      {{/answeroptions}}
    </div>

    <div class="mootimeter-colcontent-preview-send">
      {{#sendbutton}}
      {{> mod_mootimeter/elements/snippet_button_full}}
      {{^showanswercorrection}}
      {{#js}}
      require(['mootimetertool_quiz/store_answer'], (module) => module.init("{{mtm-button-id}}_{{uniqid}}"));
      {{/js}}
      {{/showanswercorrection}}
      {{/sendbutton}}

      {{#sendbutton_context}}
      <small>{{text}}</small>
      {{/sendbutton_context}}
    </div>
  </div>
  {{#withwrapper}}
</div>
{{/withwrapper}}
