<div class="mootimeter-colcontent-preview mootimeter-width-xl">
    <table class="table" id="mtmt_quiz_overview_{{uniqid}}">
        <thead>
            <tr>
                <th>#</th>
                <th>{{#str}} name {{/str}}</th>
                <th>{{#str}} answer {{/str}}</th>
                <th>{{#str}} date {{/str}} / {{#str}} time {{/str}}</th>
                <th>{{#str}} options {{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#answers}}
            <tr>
                <td>{{nbr}}</td>
                <td>{{userfullname}}</td>
                <td>
                    {{#answer}}
                    {{>core/inplace_editable}}
                    {{/answer}}
                </td>
                <td>{{datetime}}</td>
                <td>
                    {{#options}}
                    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded_with_js}}
                    {{/options}}
                </td>
            </tr>
            {{/answers}}
        </tbody>
    </table>
</div>

{{#js}}
require(['mod_mootimeter/reload_page_on_state_change'], (module) => module.init("mtmt_quiz_overview_{{uniqid}}"));
{{/js}}
