<div class="mootimeter-add-tool-container">
    <div class="mootimeter-add-tool-header">
        <h3>{{#str}} select_page_type_heading , mod_mootimeter {{/str}}</h3>
        <p>{{#str}} select_page_type_paragraph , mod_mootimeter {{/str}}</p>
    </div>
    <div class="mootimeter-tool-select-wrapper">
        {{#tools}}

            {{> mod_mootimeter/elements/snippet_button-card}}

            {{#js}}
                require(['mod_mootimeter/handler_add_new_page'], (module) => module.init("label_{{id}}_{{uniqid}}"));
            {{/js}}

            {{/tools}}
    </div>
</div>
