<div class="mootimetercontainer {{{containerclasses}}}">
    <div class="mootimeterfullwidth">

        <h2>Antwortübersicht</h2>

        {{{answers}}}

    </div>
    {{#js}}
    require(['core/inplace_editable']);
    {{/js}}
</div>