<div class="container-fluid mootimetercontainer {{{containerclasses}}}">
    <div class="row">
        <div class=" mootimetercolpages col-lg-1 col-md-2 col-sm-3 col-xs-12 ">
            <div style="">
                <ul style="list-style-type: none">
                    {{#pages}}
                        <li>
                            <form action="" method="get" class="">
                                <input type="hidden" name="id" value="{{cmid}}">
                                <input type="hidden" name="pageid" value="{{pageid}}">
                                <span class="badge badge-primary mootimeter_margin_top_5">
                                    {{sortorder}}
                                </span>
                                <button type="submit" class="btn border rounded"
                                        style="max-height: 80px; max-width: 150px; min-height: 80px; min-width: 150px;">
                                    <div class="pb-2">
                                        <img src="{{{pix}}}" width="100%" style="margin: 0 auto;height: 40px">
                                        <p>{{title}}</p>
                                    </div>
                                </button>
                            </form>
                        </li>
                    {{/pages}}
                </ul>
                {{#isediting}}
                    <form action="view.php" method="post" class="padding-left-5">
                        <input type="hidden" name="id" value="{{cmid}}">
                        <input type="hidden" name="a" value="addpage">
                        <button type="submit"
                                class="btn-success btn {{mootimetercard}} mootimetercardleftcol mootimeterpage"
                                style="height: 40px">
                            {{#str}} addpage, mod_mootimeter {{/str}}
                        </button>
                    </form>
                {{/isediting}}
            </div>
        </div>

        {{#isediting}}
            <div class=" mootimetercoledit {{{mootimetercoledit}}} col-lg-2 col-sm-9 col-md-3 col-xs-12 border-right">
                {{#settings}}
                    <hr>
                    <div class="mootimetersettings mootimeterfullwidth">
                        {{{settings}}}
                    </div>
                {{/settings}}
            </div>
        {{/isediting}}

        <div class="mootimetercolcontent {{#isediting}}col-lg-9  col-md-7{{/isediting}}{{^isediting}}col-lg-11 col-md-11{{/isediting}} col-sm-12 col-xs-12">
            {{#has_result}}
                <div>
                    <a href={{{redirect_result}}}>{{{redirect_string}}}</a>
                </div>
            {{/has_result}}
            {{{pagecontent}}}
        </div>
    </div>
</div>

{{#isediting}}
    {{#js}}
        require(['mod_mootimeter/edit'], (module) => module.init());
    {{/js}}
{{/isediting}}