<div class="card">
    <div class="card-header" id="toolsettingsheading">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#toolsettingsbody" aria-expanded="false"
                aria-controls="toolsettingsbody">
                {{#str}} toolsettings , mod_mootimeter {{/str}}
            </button>
        </h2>
    </div>

    <div id="toolsettingsbody" class="collapse" aria-labelledby="toolsettingsheading" data-parent="#{{accordionwrapperid}}">
        <div class="card-body">
            {{{toolsettings}}}
        </div>
    </div>
</div>