<div class="container-fluid mootimetercontainer {{{containerclasses}}}">
  <div class="row">
    <div class=" mootimetercolpages col-lg-1 col-md-2 col-sm-3 col-xs-12 ">
        <div style="height:800px;">
      {{#pages}}
          <div class="m-2">
          <form action="" method="get" >
            <input type="hidden" name="id" value="{{cmid}}">
            <input type="hidden" name="pageid" value="{{pageid}}">
            <button type="submit" class="{{mootimetercard}} {{active}}" style="max-height: 80px; max-width: 120px; min-height: 80px; min-width: 120px;">
                <div class="pb-2">
                  <img src="{{{pix}}}" width="100%" style="margin: 0 auto;height: 40px">
                  <p>{{title}}</p>
                </div>
            </button>
          </form>
          </div>
      {{/pages}}
            {{#isediting}}
                <form action="view.php" method="post" class="padding-left-5">
                    <input type="hidden" name="id" value="{{cmid}}">
                    <input type="hidden" name="a" value="addpage">
                    <button type="submit" class="btn-success btn {{mootimetercard}} mootimetercardleftcol mootimeterpage" style="height: 40px">
                        {{#str}} addpage, mod_mootimeter {{/str}}
                    </button>
                </form>
            {{/isediting}}
        </div>
    </div>
      {{#isediting}}
          <div class=" mootimetercolright {{{mootimetercolright}}} col-lg-2 col-sm-9 col-md-3 col-xs-12 border-right">
              {{#settings}}
                  <hr>
                  <div class="mootimetersettings mootimeterfullwidth">
                      {{{settings}}}
                  </div>
              {{/settings}}
          </div>
      {{/isediting}}
    <div class="mootimetercolcontent {{#isediting}}col-lg-9  col-md-7{{/isediting}}{{^isediting}}col-lg-11 col-md-11{{/isediting}} col-sm-12 col-xs-12">
      {{{pagecontent}}}
    </div>
  </div>
</div>