<div style="overflow:auto;">
    <form method="post">

        <input type="hidden" name="id" value="{{cmid}}">
        <input type="hidden" name="pageid" value="{{pageid}}">
        <input type="hidden" name="tool" value="{{tool}}">

        {{> mod_mootimeter/snippet_accordion_wrapper_new}}
        <button type="submit" name="a" value="storepage" class="mootimeter-btn mootimeter-btn-small">{{#str}} savechangesanddisplay, core {{/str}}</button>
        {{#pageid}}
            <button type="cancel" name="a" value="deletepage" class="btn btn-danger ml-lg-4">{{#str}} delete, core {{/str}}</button>
        {{/pageid}}
    </form>
</div>
