<div>
    <label for="mootimeter_selecttype" class="form-label">{{#str}} pagetype , mod_mootimeter {{/str}}</label>
    <select id="mootimeter_selecttype" class="form-control mootimeterfullwidth" name="tool" onchange="this.form.submit()">
        <option>{{#str}} please_select, mod_mootimeter {{/str}}</option>
        {{#tools}}
        <option value="{{tool}}" {{selected}}>
            <img src="{{{pix}}}" width="80%" style="margin: 0 auto;">
            {{name}}
        </option>
        {{/tools}}
    </select>
</div>
<hr>