<div class="container-fluid mootimetercontainer {{#isNewPage}}{{.}}{{/isNewPage}} {{{containerclasses}}}">
    <div class="row h-100">
        {{#showpagescol}}
        <div class="mootimetercol mootimetercolpages">
            <ul class="">
                {{#pages}}
                <li class="mootimeter_pages_li d-flex clickable {{active}}" data-pageid="{{pageid}}" data-cmid="{{cmid}}">
					<span class="mootimeter_pages_count">1</span>
                    <img src="{{{pix}}}" width="20px" class="m-1">
                </li>
                {{/pages}}
                {{#isediting}}
                <li id="mootimeter_addpage" class="d-flex mootimeter_addpage clickable" data-action="addpage" data-cmid="{{cmid}}">
                    <i class="fa fa-plus p-1 mx-1 my-auto"></i>
                </li>
                {{/isediting}}
            </ul>
        </div>
        {{/showpagescol}}
        {{#isediting}}
        <div class="mootimetercol mootimetercoledit">
            {{#settings}}
            <div class="mootimetersettings mootimeterfullwidth">
                {{{settings}}}
            </div>
            {{/settings}}
        </div>
        {{/isediting}}
        <div class="mootimetercol mootimetercolcontent">
            {{#has_result}}
            <div class="m-2">
                <a class="btn btn-light" href={{{redirect_result}}}>{{{redirect_string}}}</a>
            </div>
            {{/has_result}}
            {{{pagecontent}}}
        </div>
    </div>
</div>

{{#isediting}}
{{#js}}
require(['mod_mootimeter/edit'], (module) => module.init());
{{/js}}
{{/isediting}}

{{#js}}
require(['mod_mootimeter/main'], (module) => module.init());
{{/js}}
