<div class="container-fluid mootimetercontainer isNotNewPage {{{containerclasses}}}">
  <div class="row h-100">
    {{#showpagescol}}
    <div class="mootimetercol mootimetercolpages" id="mootimeter-pages-col">
      <ul id="mootimeter-pages-list" class="">
        {{{pages}}}
      </ul>
    </div>
    {{/showpagescol}}
    {{#isediting}}
    <div class="mootimetercol mootimetercoledit" id="mootimeter-col-settings">
    {{{settings}}}
    </div>
    {{/isediting}}
    <div class="mootimetercol mootimetercolcontent">
      {{{snippet_content_menu}}}
      <div class="mootimeter-content-wrapper" id="mootimeter-pagecontent">
        {{{pagecontent}}}
      </div>
    </div>
  </div>
  {{! {{> mod_mootimeter/elements/snippet_modal}}
</div>

{{> mod_mootimeter/elements/snippet_mootimeter_state}}

{{#js}}
require(['mod_mootimeter/main'], (module) => module.init());
require(['mod_mootimeter/reload_pagelist'], (module) => module.init("{{isediting}}"));
{{/js}}