<div class="container-fluid mootimetercontainer isNotNewPage {{{containerclasses}}}">
  <div class="row h-100">
    {{#showpagescol}}
    <div class="mootimetercol mootimetercolpages">
      <ul id="mootimeter-pages-list" class="">
        {{#pages}}
        <li class="mootimeter_pages_li d-flex clickable {{ active }}" data-pageid="{{ pageid }}" data-cmid="{{ cmid }}">
          <span class="mootimeter_pages_count">{{pagenumber}}</span>
          <img src="{{{pix}}}" width="{{width}}" class="m-1" />
        </li>
        {{/pages}}
        {{#isediting}}
        <li id="mootimeter_addpage" class="d-flex mootimeter_addpage clickable" data-action="addpage" data-cmid="{{ cmid }}" data-instance="{{instance}}">
          <i class="fa fa-plus p-1 mx-1 my-auto"></i>
        </li>
        {{/isediting}}
      </ul>
    </div>
    {{/showpagescol}}
    {{#isediting}}
    {{#settings}}
    <div class="mootimetercol mootimetercoledit">
      <div class="mootimetersettings mootimeterfullwidth">
        <div class="mootimeter-header-wrapper">
          <h4>{{toolname}}</h4>
          <div class="mootimeter-page-dropdown">
            <i class="icon fa fa-gear fa-light mootimeter-page-dropbtn" aria-hidden="true"></i>
            <div class="mootimeter-page-dropdown-content">
              <div
                id="btn-delete_page"
                class="mootimeter-delete-page-btn"
                data-pageid="{{pageid}}"
                >{{#str}} delete_page, mod_mootimeter {{/str}}</div>
            </div>
          </div>
        </div>
        {{{settings}}}
      </div>
    </div>
    {{/settings}}
    {{/isediting}}
    <div class="mootimetercol mootimetercolcontent">
      {{{snippet_content_menu}}}
      <div class="mootimeter-content-wrapper">
        {{{pagecontent}}}
      </div>
    </div>
  </div>
  {{! {{> mod_mootimeter/elements/snippet_modal}}
</div>

{{> mod_mootimeter/elements/snippet_mootimeter_state}}

{{#js}}
require(['mod_mootimeter/main'], (module) => module.init());
{{/js}}