<div class="mootimeter-content-menu">
        <button href="" class="mootimeter-content-action-btn active">
          <i class="icon fa fa-eye fa-light" aria-hidden="true"></i>
        </button>
		<div class="vertical-divider"></div>
        <button href="" class="mootimeter-content-action-btn disabled">
          <i
            class="icon fa fa-arrow-rotate-left fa-light"
            aria-hidden="true"
          ></i>
        </button>
		<button href="" class="mootimeter-content-action-btn disabled">
          <i
            class="icon fa fa-arrow-rotate-left fa-light"
            aria-hidden="true"
          ></i>
        </button>
		<div class="vertical-divider"></div>
		<button href="" class="mootimeter-content-icon-only-btn">
          <i class="icon fa fa-close fa-light" aria-hidden="true"></i>
        </button>
      </div>
