<div class="mootimeter-content-menu">
        {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
		<div class="vertical-divider"></div>
        {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
		{{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
		<div class="vertical-divider"></div>
		{{> mod_mootimeter/elements/snippet_button_icon_only_transparent}}
      </div>
