<div class="accordion mootimeter_margin_top_5" id="{{accordionwrapperid}}">

    {{> mod_mootimeter/edit_snippet_title_description}}

    {{> mod_mootimeter/edit_snippet_tool_settings}}
    {{#toolsettings}}
    {{/toolsettings}}

</div>