{{> mod_mootimeter/snippet_title_description}}
<div  class="mootimeterfullwidth mtmt_wordcloud_badges">
    {{#answers}}
    {{> mootimetertool_wordcloud/badge_answer}}
    {{/answers}}
</div>
<div class="mootimeterfullwidth">
    <form method="post" class="mootimeterfullwidth">
        <input type="hidden" name="a" value="insertanswer">
        <div>
            <label for="mootimeter_type_answer" class="form-label">{{#str}} type_answer , mootimetertool_wordcloud {{/str}}</label>
            <input id="mootimeter_type_answer" type="text" class="form-control mootimeterfullwidth" name="answer">
        </div>
    </form>
</div>