<div class="mootimeter-content-menu">
    {{#icon-eye}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-eye}}

    {{#icon-showresults}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-showresults}}

    {{#icon-restart}}
    {{> mod_mootimeter/elements/snippet_button_icon_only_rounded}}
    {{/icon-restart}}
</div>

{{#js}}
require(['mod_mootimeter/redirect_by_click'], (module) => module.init());
{{/js}}