<script src="tools/wordcloud/node_modules/wordcloud/src/wordcloud2.js"></script>
<div class="mootimetercontainer {{{containerclasses}}}">

  <div class="row ">

    <div class="mootimetercolcontent col-md-10">
      <div class="mootimeterfullwidth" id="wordcloudcanvas" style="margin: 10px; height:70vH" data-answers="{{answerslist}}">

      </div>

    </div>

    <div class="mootimetercolright {{{mootimetercolright}}} col-md-2">
      {{> mootimetertool_wordcloud/form_insert_answer}}
    </div>

  </div>
  <input type="hidden" id="mootimeter_lastupdated" value="{{lastupdated}}">
</div>
<script>
  redrawwordcloud()

  const event = new Event("redrawwordcloud");
  let mtmtcanvas = document.getElementById('wordcloudcanvas');
  mtmtcanvas.addEventListener(
    "redrawwordcloud",
    (e) => {
      redrawwordcloud();
    },
    false
  );

  function redrawwordcloud() {
    let mtmtcanvas = document.getElementById('wordcloudcanvas');
    let answers = JSON.parse(mtmtcanvas.dataset.answers);
    WordCloud(mtmtcanvas, { list: answers });
  }
</script>
{{#js}}
require(['mootimetertool_wordcloud/redraw_wordcloud'], (module) => module.init());
{{/js}}