<script src="tools/wordcloud/node_modules/wordcloud/src/wordcloud2.js"></script>
<div class="mootimetercontainer {{{containerclasses}}}">

  <div class="row ">

    <div class="mootimetercolcontent col-md-10">
      <div class="mootimeterfullwidth" id="wordcloudcanvas" style="margin: 10px; height:70vH" data-answers="{{answerslist}}">

      </div>

    </div>

    <div class="mootimetercolright {{{mootimetercolright}}} col-md-2">
      {{> mootimetertool_wordcloud/form_insert_answer}}
    </div>

  </div>

</div>
<script>
  let mtmtcanvas = document.getElementById('wordcloudcanvas');
  let answers = JSON.parse(mtmtcanvas.dataset.answers);
  console.log(answers);
  WordCloud(mtmtcanvas, { list : answers });
</script>