<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>{{#str}} name {{/str}}</th>
            <th>{{#str}} answer {{/str}}</th>
            <th>{{#str}} date {{/str}} / {{#str}} time {{/str}}</th>
            <th>{{#str}} options {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#answers}}
        <tr>
            <td>{{nbr}}</td>
            <td>{{userfullname}}</td>
            <td>
                {{#answer}}
                {{> core/inplace_editable}}
                {{/answer}}
            </td>
            <td>{{datetime}}</td>
            <td>
                {{#options}}
                {{> mod_mootimeter/elements/snippet_button_icon_only_rounded_with_js}}
                {{/options}}
            </td>
        </tr>
        {{/answers}}
    </tbody>
</table>