{{#withwrapper}}
<div class="mootimetercontainer {{{containerclasses}}}">
  {{/withwrapper}}

  <div class="mootimeter-colcontent-preview mootimeter-width-s">

    {{{error}}}

    <div class="mootimeter-colcontent-preview-header" id="mtmt_tool-colct-header">

      {{#toolname}}
      {{> mod_mootimeter/elements/snippet_pill}}
      {{/toolname}}

      <h4 id="mtm_question_{{uniqid}}">{{{question}}}</h4>

    </div>

    <div id="mtmt_wordcloud_pills">
      {{#answers}}
      {{> mod_mootimeter/elements/snippet_pill}}
      {{/answers}}
    </div>

    {{#input_answer}}
    {{> mod_mootimeter/elements/snippet_input}}
    {{#js}}
    require(['mootimetertool_wordcloud/store_answer'], (module) => module.init(
      "{{mtm-input-id}}_{{uniqid}}",
      "{{mtm-button-id}}_{{uniqid}}"
      ));
    {{/js}}
    {{/input_answer}}

    {{#button_answer}}
    {{> mod_mootimeter/elements/snippet_button_full}}
    {{/button_answer}}


  </div>
  {{#withwrapper}}
</div>
{{/withwrapper}}
