{{#question}}
{{> mod_mootimeter/elements/snippet_input}}
{{/question}}

{{> mod_mootimeter/elements/snippet_divider}}

<p class="text-bold">{{#str}} heading_answer , mootimetertool_wordcloud{{/str}}</p>

{{#maxinputsperuser}}
{{> mod_mootimeter/elements/snippet_number_input}}
{{/maxinputsperuser}}

{{#settings}}

    {{> mod_mootimeter/elements/snippet_divider}}

    <p class="text-bold">{{#str}} settings {{/str}}</p>

    {{#allowduplicateanswers}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/allowduplicateanswers}}

    {{#showonteacherpermission}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/showonteacherpermission}}

    {{#showresultlive}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/showresultlive}}

{{/settings}}