.mootimeter-checkbox-switch,
#page input[type="checkbox"].mootimeter-checkbox-switch {
  position: relative;
  width: 2.75rem;
  height: 1.5625rem;
  padding: 0.125rem 1.5rem 0.125rem 0.125rem;
  border-radius: 3.125rem;
  border: 0.125rem solid $grey-200;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  background-color: unset;

  &::before {
    content: ""!important;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background: $grey-200;
    position: absolute;
    top: 50%!important;
    transform: translateY(-50%);
    left: 0.125rem!important;
    transition: 0.5s;
  }

  &::after {
    display: none!important;
  }

  &:checked {
    background: $lernplatform-400;
    border-color: $lernplatform-400;
  }

  &:checked::before {
    transform: translate(100%, -50%);
    background: $grey-400;
  }
}

.mootimeter-checkbox-switch-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dark {
  .mootimeter-checkbox-switch {
    &:checked::before {
      background-color: $white-standard;
    }
  }
}
