.mootimeter-checkbox {
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;

    .checkbox-icon-wrapper {
      @include flex-center-all;
      position: relative;
      border: 0.0938rem solid $lernplatform-400;
      border-radius: 0.125rem;
      width: 1.25rem !important;
      height: 1.25rem;
      margin-right: 0.625rem;
      padding: 0.125rem;
      .checkbox-icon {
        font-size: 1rem;
        margin: 0;
        width: 1rem;
        height: 1rem;
      }
    }

    input[type="checkbox"] {
      display: none;

      & + .checkbox-icon-wrapper > .checkbox-icon {
        opacity: 0;
        transform: scale(1);
        transition: all 0.1s ease-in;
      }
      &:checked + .checkbox-icon-wrapper {
        background-color: $lernplatform-400;
        color: $white-standard;

        & > .checkbox-icon {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    input[type="checkbox"]:not(:checked):hover
      + .checkbox-icon-wrapper
      > .checkbox-icon {
      transform: scale(1);
      opacity: 1;
      color: $lernplatform-400;
    }
  }
}

.dark {
  .mootimeter-checkbox.mootimeter-success label {
      color: $grey-500;
  }
}