
.mootimeter-input {
  @include rounded-s;
  height: 2.625rem;
  padding: 0.5rem 0.875rem 0.5rem 0.875rem;
  border: 0.0625rem solid $grey-300;
  background-color: unset;
  color: $white-standard;
  width: 100%;

  &:focus {
    border-color: $white-standard;
  }

  &.light-background {
    color: $grey-500;
    border-color: $grey-500;
  }
}

.mootimeter-content-wrapper {
  .mootimeter-input {
    color: $grey-500;
    border-color: $grey-500;

    &:focus {
      border-color: $grey-500;
    }
  }
}

.contrast {
  .mootimeter-input {
    border-color: $white-standard;
  }
}
