.input-with-inner-icon {
  position: relative;

  .mootimeter-btn-icon-only-transparent {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $grey-500;
  }
}
