.mootimeter-number-input {
  .mootimeter-number-input-wrapper {
    position: relative;
  }

  input {
    @include rounded-s;
    height: 2.625rem;
    padding: 0.5rem 0.875rem 0.5rem 0.875rem;
    border: 0.0625rem solid $grey-300;
    background-color: unset;
    color: $white-standard;
    max-width: 4.25rem;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  label {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
  }

  &.light-background {
    color: $grey-500;
    border-color: $grey-500;
  }

  .mootimeter-number-input-btn-up {
    position: absolute;
    top: -5px;
    right: 0;
    padding: 0;
    height: 50%;

    &:hover {
      .icon {
        color: $white-standard;
      }
    }

    .icon {
      height: 0rem;
    }
  }

  .mootimeter-number-input-btn-down {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    height: 50%;

    &:hover {
      .icon {
        color: $white-standard;
      }
    }

    .icon {
      height: 1.8rem;
    }
  }

  .icon {
    color: $grey-300;
  }
}

.contrast {
  .mootimeter-number-input {
    input {
      border-color: $white-standard;
    }
    .icon {
      color: $white-standard;
    }
  }
}
