.mootimeter-radio-card {
  @include rounded-m;
  background-color: $white-standard;
  position: relative;
  padding: 1.8125rem 1rem 1rem 1rem;
  text-align: center;
  max-width: 17.5rem;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .card-icon {
    margin: 0 auto 1rem auto;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    color: $lernplatform-400;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: absolute;
      box-shadow: none !important;
    }
  }

  .card-details {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: border-color 0.2s ease-out;
  }

  .radio:checked ~ .active-border {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid $lernplatform-400;
    left: 0;
    top: 0;
    border-radius: 8px;
  }

  .card-type {
    font-family: "Lexend", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.25rem;
  }
}
